
<div id="bodyContainer">
    <section id="content">
        <div class="container">
            <div class="row">
                <div ng-controller="ContributionController as contCtrl" >
                    <div class="alert-warning">
                        <span>Hurry Gouda.. you didn't join yet, </span>
                        <span class="btn-link" ng-click="contCtrl.uiHelper.showAddMode()"> Join Now</span>
                    </div>
                    <div  id="newEvent" ng-show="contCtrl.uiHelper.addMode" class="form-group-sm">
                        <table>
                            <tr>
                                <td>
                                    <div class="breadcrumb h5">New Book</div>
                                    <div class="form-group">
                                        <label class="control-label " for="txtBookName">Book Title</label>
                                        <input class="form-control" type="text" id="txtBookName" ng-model="contCtrl.newCont.book.title" />
                                        <label class="control-label " for="txtPagesCount">Pages Count</label>
                                        <input class="form-control" type="text" id="txtPagesCount" ng-model="contCtrl.newCont.pagesCount" />
                                        <label class="control-label " for="txtBookURL">Book URL</label>
                                        <input class="form-control " type="text" id="txtBookURL" ng-model="contCtrl.newCont.bookURL" />
                                        <label class="control-label " for="txtImageURL">Image URL</label>
                                        <input class="form-control " type="text" id="txtImageURL" ng-model="contCtrl.newCont.imageURL" />
                                        <div class="form-group" style="padding-top:2em">
                                            <input type="submit" value="Cancel" class="btn btn-danger btn-sm" ng-click="contCtrl.uiHelper.clearForm()" />
                                            <input type="submit" value="Add and Share" class="btn btn-warning btn-sm" />
                                            <input type="submit" value="Add" class="btn btn-info btn-sm " ng-click="contCtrl.saveCont()" />
                                        </div>
                                    </div>
                                </td>
                                <td valign="top">
                                    @Html.Partial("MyContributions", null)
                                </td>
                            </tr>
                        </table>
                        

                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    @Scripts.Render("~/Client/autocomplete.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
}
