<div class="bg-info">

    Join Event 
    <P>
    <label for="txtBookName">Book Title</label>
    <input type="text" id="txtBookName"/>
    <label for="txtPagesCount">Pages Count</label>
    <input type="text" id="txtPagesCount" />
    <button id="btnAddBook" class="btn-default" value="Add Book">Add</button>
    </P>
</div>
