<div style="padding-top:10px" ng-controller="ContributionController as contCtrl" ng-init="contCtrl.getAllConts()">
    <p class="lead" ng-hide="contCtrl.uiHelper.loaded">{{contCtrl.uiHelper.message}}</p>
    <div class="breadcrumb h4" >What Others Read...</div>
    <div ng-repeat="cont in contCtrl.conts | orderBy:'-id'" style="padding-top:10px">

        <span class="btn-link">{{cont.contributer.user.userName}}</span>
        from Cairo, Egypt is reading <span class="btn-link"> {{cont.book.title}}</span>
        finished {{cont.currentPage}} pages out of {{cont.pagesCount}}
        <span id="progress" class="alert-danger" style="width:100%">{{cont.progress}}%</span>


    </div>
</div>
@section scripts{
    
    @Scripts.Render("~/Scripts/Client/helper.js")
}
