<div style="padding-top:2em" ng-controller="ContributionController as contCtrl" ng-init="contCtrl.getAllConts()">
    <p class="lead" ng-hide="contCtrl.uiHelper.loaded">{{contCtrl.uiHelper.message}}</p>
    <div class="breadcrumb h4" >What Others Read...</div>
    <div ng-repeat="cont in contCtrl.conts">
        <table>
        <tr>
            <td>
                <div><b><font color="Yellow"><a href="">{{cont.contributer.user.userName}}</a></font></b> from Cairo, Egypt is reading <b><font color="Yellow"> {{cont.book.title}}</font></b> page# {{cont.currentPage}}/{{cont.pagesCount}}</div>
            </td>
            <td>
                <div id="progress" class="alert-danger" style="width:100%">{{cont.progress}}%</div>
            </td>
        </tr></table>
        
        
        @*<div class="text-active h4">{{cont.progress}}%</div>*@
    </div>
</div>
@section scripts{
    
    @Scripts.Render("~/Scripts/Client/helper.js")
}
