<div ng-controller="EventDetailsController as eventCtrl">
     
    <label>Title:</label><label>{{eventCtrl.event.title}}</label>
    <label>Description:</label><label>{{eventCtrl.event.description}}</label>
    <label>Start date:</label><label>{{eventCtrl.event.startDate | date}}</label>
    <label>End date:</label><label>{{eventCtrl.event.endDate | date}}</label>
    <h3>Statis</h3>
    <label># of readers:</label><label>{{eventCtrl.event.statistics.numberOfContributors}}</label>
    <label># of books:</label><label>{{eventCtrl.event.statistics.numberOfContributions}}</label>
    <label># of pages:</label><label>{{eventCtrl.event.statistics.numberOfReadPages}}</label>

</div>
