@using RashahlyKtab.Utilities
<div ng-controller="EventStatsController as eventCtrl" class="breadcrumb ">

    <div class="row">
        <div class="col-md-9">
            <h1>{{eventCtrl.event.title}}</h1>
            <div>
                <p>{{eventCtrl.event.description}}</p>
            </div>
            <label>{{eventCtrl.event.startDate | date}}</label> - <label>{{eventCtrl.event.endDate | date}}</label>
            <br />
            <div class="fb-share-button" data-href="@ConfigReader.DomainName/Events/@ViewBag.id" data-layout="box_count"></div>
        </div>
        <div class="col-md-3">

            <h4>Statistics</h4>
            <label># of readers:</label><label>{{eventCtrl.event.statistics.numberOfContributors}}</label>
            <br />
            <label># of books:</label><label>{{eventCtrl.event.statistics.numberOfContributions}}</label>
            <br />
            <label># of pages:</label><label>{{eventCtrl.event.statistics.numberOfReadPages}}</label>
        </div>
    </div>



</div>
