@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
        <span>Hurry </span> 
        <span>@User.Identity.GetUserName().Split('@')[0]</span>
        <span>.. you didn't join yet!</span>
        <span class="btn-warning" ng-click="contCtrl.uiHelper.showAddMode()"> Join Now</span>
    }
}
else
{
    <span>Welcome .. you didn't join yet!</span>
    @Html.ActionLink("Register Now", "Register", "Account", routeValues: null, htmlAttributes: new { title = "Register" })
}

