
@{
    ViewBag.Title = "Event";
}

@section scripts{
    @Scripts.Render("~/Client/EventContribution.js")    
}
<div ng-app="EventContributionModule">    
    @Html.Partial("EventDetails", null)
    @Html.Partial("MyArea", null)
    @Html.Partial("EventContributions", null)
</div>