
<div id="bodyContainer">
    <section id="content">
        <div class="container">
            <div class="row">
                <div ng-controller="ContributionController as contCtrl" >
                    <div class="alert-warning">
                        <span>Hurry Gouda.. you didn't join yet, </span>
                        <span class="btn-link" ng-click="contCtrl.uiHelper.showAddMode()"> Join Now</span>
                    </div>
                    <div  id="newEvent" ng-show="contCtrl.uiHelper.addMode" class="form-group-sm">
                        <table>
                            <tr>
                                <td>
                                    @Html.Partial("AddBook", null)
                                </td>
                                <td valign="top">
                                    @Html.Partial("MyContributions", null)
                                </td>
                            </tr>
                        </table>
                        

                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    @Scripts.Render("~/Client/autocomplete.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
}
