<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rashahlyktab.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rashahlyktab.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RashahlyKtab</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RashahlyKtab</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jttjfvlabq.database.windows.net,1433;Initial Catalog=RashahlyKtab_db;User ID=RashahlyKtabUser@jttjfvlabq;Password=Windows.2000" Name="Data Source=tcp:jttjfvlabq.database.windows.net,1433;Initial Catalog=RashahlyKtab_db;User Id=RashahlyKtabUser@jttjfvlabq;Password=Windows.2000" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RashahlyKtab.Models.ApplicationDbContext, RashahlyKtab" MigrationConfiguration="RashahlyKtab.Migrations.Configuration, RashahlyKtab" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ModelContainer" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:jttjfvlabq.database.windows.net,1433;Initial Catalog=RashahlyKtab_db;User ID=RashahlyKtabUser@jttjfvlabq;Password=Windows.2000" Name="Data Source=tcp:jttjfvlabq.database.windows.net,1433;Initial Catalog=RashahlyKtab_db;User Id=RashahlyKtabUser@jttjfvlabq;Password=Windows.2000" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=RashahlyKtab;User ID=sa;Password=Windows.2000;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ModelContainer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=RashahlyKtab;user id=sa;password=Windows.2000;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jttjfvlabq.database.windows.net,1433;Initial Catalog=RashahlyKtab_db;User Id=RashahlyKtabUser@jttjfvlabq;Password=Windows.2000</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:jttjfvlabq.database.windows.net,1433;initial catalog=RashahlyKtab_db;user id=RashahlyKtabUser@jttjfvlabq;password=Windows.2000;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>